table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px 15px;
    margin: 20px auto;
}
th, td {
    border: 1px solid #000;
    text-align: center;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
}
th {
    background-color: #f2f2f2;
}
th.sunday, td.sunday {
    background-color: #ffcccc;
    color: #ff0000;
}
td.current-day {
    background-color: #ccffcc;
    color: #006600;
}