<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ header }}</h1>
    <table>
        <tr>
            {% for day in week_days %}
                <th class="{{ 'sunday' if day == 'Sun' else ''}}">{{ day }}</th>
            {% endfor %}
        </tr>
        {% for week in calendar %}
            <tr>
                {% for day in week %}
                    <td class="{{ 'sunday' if loop.index == 7 and day != 0 else '' }}">{{ day if day != 0 else '' }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>